config:
  consulServerList:
    - x.x.x.x:8500
    - x.x.x.x:8500
    - x.x.x.x:8500

  tags:
    node_exporter:
      - node_exporter,healthcheck
    port_exporter:
      - blackbox,healthcheck
    get_exporter:
      - httpget,healthcheck
    ssl_exporter:
      - sslcheck,expirecheck

  httpListen: {host: "0.0.0.0", port: "8080"}
